<a href="https://colab.research.google.com/github/ArtTheClown-007/PythonAssignments/blob/main/Functions_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# 1. Write a Python function that takes a list of numbers as input and returns the sum of all even numbers in
# the list.

In [6]:
def sum_even_num(numbers):
    result = 0
    for no in numbers:
        if no % 2 == 0 :
            result += no
    return result

print(sum_even_num([1,2,3,4,5,6])) # 2 + 4 + 6 = 12

12

In [7]:
# 2. Create a Python function that accepts a string and returns the reverse of that string.

In [8]:
def reverse_my_string(strg):
    resulting_strg = strg[::-1]
    return resulting_strg

print(reverse_my_string("Hello World"))

dlroW olleH

In [9]:
# 3. Implement a Python function that takes a list of integers and returns a new list containing the squares of
# each number.

In [10]:
def square_list(list_of_int):
  squared_list = []
  for integer in list_of_int:
    integer**= 2
    squared_list.append(integer)
  return squared_list

square_list([1,2,3,4,5,6])

[1, 4, 9, 16, 25, 36]

In [11]:
#4. Write a Python function that checks if a given number is prime or not from 1 to 200.

In [42]:
prime_num_list = []

for i in range(1,201):
  if (i % 2 and i % 3 and i % 5 and i % 7 and i % 10) != 0:
    prime_num_list.append(i)



def check_prime(number):
  if number in range(1,201):
    if number in prime_num_list:
      print("Hooray, its a prime number!")
    else:
      print("not a prime number")



Userinput = int(input("Enter a number: "))
check_prime(Userinput)

Enter a number: 11
Hooray, its a prime number!

In [43]:
# 5.  Create an iterator class in Python that generates the Fibonacci sequence up to a specified number of terms.

In [69]:
def fibnac_series(n):
    a = 0
    b = 1
    for i in range(n): # if n = 5 , 0 , 1, 2, 3, 4
        yield a
        a , b = b , a + b

num = int((input("Enter number: ")))
fs = fibnac_series(num)

for i in range(num):
  print(next(fs))
  i += 1

Enter number: 10
0
1
1
2
3
5
8
13
21
34

In [70]:
# 6. Write a generator function in Python that yields the powers of 2 up to a given exponent.

In [76]:
def powers_of_2(expon):
    for i in range(expon + 1):
        yield 2 ** i

num = int(input("Enter number: "))
print(list(powers_of_2(num)))

Enter number: 10
[1, 2, 4, 8, 16, 32, 64, 128, 256, 512, 1024]

In [98]:
# 7. Implement a generator function that reads a file line by line and yields each line as a string.

In [ ]:
def read_file_line_by_line(filename):
  with open(filename, 'r') as f:
    for line in f:
      yield line.strip()

read_file_line_by_line("test.txt")

for line in read_file_line_by_line("test.txt"):
  print(line)

In [78]:
#8. Use a lambda function in Python to sort a list of tuples based on the second element of each tuple.

In [79]:

list_of_tupl = [(1, 5), (3, 2), (2, 8), (4, 1)]
list_of_tupl.sort(key=lambda x: x[1])
print(list_of_tupl)

[(4, 1), (3, 2), (1, 5), (2, 8)]

In [80]:
# 9. Write a Python program that uses `map()` to convert a list of temperatures from Celsius to Fahrenheit.

In [83]:
Celsius_list = [100,30,35,60,70,25,22,18]
list(map(lambda x: (x * (9/5)) + 32,Celsius_list))

[212.0, 86.0, 95.0, 140.0, 158.0, 77.0, 71.6, 64.4]

In [93]:
# 10. Create a Python program that uses `filter()` to remove all the vowels from a given string.

In [95]:
def remove_vowels(string):
  vowels = ['a','e','i','o','u','A','E','I','O','U']
  result = ''.join(filter(lambda char: char not in vowels, string))
  return result

my_string = "It was perfect, PERFECT! Everything, down to the last minute detail!"
no_vowels_string = remove_vowels(my_string)
print(no_vowels_string)

t ws prfct, PRFCT! vrythng, dwn t th lst mnt dtl!

In [99]:
# 11. Write a Python program, which returns a list with 2-tuples. Each tuple consists of the order number and the
# product of the price per item and the quantity. The product should be increased by 10,- € if the value of the
# order is smaller than 100,00 €.

In [101]:
def calculate_order_values(orders):

    result = []
    for order in orders:
        order_number, book_title, quantity, price_per_item = order
        total_value = quantity * price_per_item
        if total_value < 100.00:
            total_value += 10.00
        result.append((order_number, total_value))
    return result


bookshop_orders = [
    [34245, "Learning Python, Mark Lutz", 2, 40.95],
    [98762, "Programming Python, Mark Lutz", 4, 56.80],
    [77226, "Head First Python, Paul Barry", 3, 32.95],
    [88112, "Einführung in Python3, Bernd Klein", 3, 24.99]
]

order_values = calculate_order_values(bookshop_orders)
for order_number, total_value in order_values:
    print(f"Order {order_number}: Total value = {total_value:.2f} €")

Order 34245: Total value = 91.90 €
Order 98762: Total value = 227.20 €
Order 77226: Total value = 108.85 €
Order 88112: Total value = 84.97 €