In [79]:
import math as mth

In [21]:
mth.ceil(6.5)

7

In [22]:
mth.floor(8.9)

8

In [23]:
# user defined function
# def func():
      #do something >> body of function

In [24]:
# function is a block of code which performs some task
# functions are reusable, organized , saves time

In [25]:
def greet(name): # name is func argument
    print("Hello " + name + ", hope you're doin well.")

In [26]:
greet("Max")

Hello Max, hope you're doin well.

In [42]:
def Dob(date,month,year):
    print("Your D.O.B. is " + str(date) + '/' + str(month) + '/' + str(year))
    print( "You're " + str((2024 - year)) + " years old.")

In [43]:
Dob(4,8,2005)

Your D.O.B. is 4/8/2005
You're 19 years old.

In [2]:
def func():
    print("Text")
func()

Text

In [4]:
func() + " goes here"

Text

TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'

In [8]:
def print_Text(): # returns output
    return("Text")

print_Text() + " goes here"

'Text goes here'

In [11]:
def nullf():
    return 0

In [14]:
1 * nullf()

0

In [15]:
def tup():
    return "Text",1,3,6,True,3+7j

In [19]:
t = tup()
type(t)

tuple

In [24]:
x,y,z,u,v,w = tup()

In [30]:
print(x)
print(y)
print(z)

Text
1
3

In [34]:
x,b,c,g = func()

In [35]:
print(x)
print(b)
print(c)
print(g)

T
e
x
t

In [38]:
def func():
    calc = 2+3+6*5
    return calc

In [42]:
type(func())
print(func())

35

In [43]:
def square_my_num(num):
    return num*num

In [48]:
square_my_num(21)

441

In [49]:
def sum(a,b):
    return a + b

In [50]:
sum(2,445)

447

In [51]:
sum("Str","ing")

'String'

In [52]:
sum([1,2,3],[4,5,6])

[1, 2, 3, 4, 5, 6]

In [53]:
sum( b = 'ing',a = 'str')

'string'

In [58]:
# Default argument must be the trailing argument.
def sum1(a , b , c = 0):
    return a + b + c

In [59]:
sum1(2,3)

5

In [61]:
def sum2(a = 0 , b= 0, c = 0):
    return a + b + c

In [62]:
sum2()

0

In [63]:
def add_two_num():
    a = int(input("Enter first no: ")) 
    b = int(input("Enter second no: ")) 
    return a + b

In [64]:
add_two_num()

Enter first no:  2
Enter second no:  21

23

In [1]:
def only_numeric(a):
    n = []
    for i in a:
        if type(i) == int or type(i) == float:
            n.append(i)
    return n

In [3]:
only_numeric([1,2,5,3.4,"Book",2+3j])

[1, 2, 5, 3.4]

In [17]:
def only_numeric(a):
    n = []
    for i in a:
        if type(i) == list:
            for j in i:
                if type(j) == int or type(j) == float: 
                 n.append(j)
        else:
            if type(i) == int or type(i) == float:
             n.append(i)
    return n

In [19]:
only_numeric([1,2,5,3.4,"Book",2+3j,[2,5,4.69,'fudge']])

[1, 2, 5, 3.4, 2, 5, 4.69]

In [20]:
# variable length arguement>> when no of args is unknown
# prefix a * with the function arg

In [27]:
def sum1(*args,a = 1):
    s = 0
    for i in args:
        s += i
    return s,a

In [28]:
sum1(11,2,3,4,5,6,6,7,7)

(51, 1)

In [29]:
# variable argument >> takes any no of argument
# positional argument >> fixed argument

In [33]:
def get_list(*args):
    return list(args)

In [34]:
get_list(1,34,4,56,7,'Hello',True)

[1, 34, 4, 56, 7, 'Hello', True]

In [37]:
def return_list_only(*args):
    l = []
    for i in args:
        if type(i) == list:
            l.append(i)
    return l

In [38]:
return_list_only(1,2,4,['bread','butter'],'buck')

[['bread', 'butter']]

In [39]:
def team(name,project):
    return f"{name} is working on {project}."

In [42]:
team('Max','Project Zero')

'Max is working on Project Zero'

In [44]:
def test(*args,**args1):
    return args,args1

test(1,2,3,4,a=100,b=50)

((1, 2, 3, 4), {'a': 100, 'b': 50})

In [45]:
# Python namespace

In [49]:
def greet():
    message = "Hello, welcome!"  # local variable 
    print(message)

In [50]:
greet()

Hello, welcome!

In [51]:
print(message)

NameError: name 'message' is not defined

In [59]:
part = " to the course!"    # Global variable
def greet1():
    message = "Hello, welcome" + part # local variable 
    print(message)

In [60]:
greet1()

Hello, welcome to the course!

In [67]:
# function inside function
# Think of **kwargs as a way to pass values to a function by giving them names.
# Inside the function, kwargs is like a dictionary containing all the named values 
# you passed, and you can use it to access those values.

def marks_in_subject(**kwargs):
    def total_marks(marks_list):
        return sum(marks_list)
    marks_list = []
    for sub,marks in kwargs.items():
        marks_list.append(marks)

    return total_marks(marks_list)

In [68]:
marks_in_subject(a = 90, b = 20)

110

In [81]:
def find_power(num,power):
    """  # Doc string
    This function returns the power of no 
    Args:
    num(int): provide int as input
    power(int):provide power as input 
    Returns:
    integer: power of no
    """
    return num**power

In [82]:
find_power(2,3)

8

In [83]:
help(find_power)

Help on function find_power in module __main__:

find_power(num, power)
    # Doc string
    This function returns the power of no
    Args:
    num(int): provide int as input
    power(int):provide power as input
    Returns:
    integer: power of no

In [84]:
print(find_power.__doc__)

  # Doc string
    This function returns the power of no
    Args:
    num(int): provide int as input
    power(int):provide power as input
    Returns:
    integer: power of no

In [85]:
#----------------------------------------------------------------

In [90]:
# an iterable is any python obj/sequential data structure that is capable of returning
# its members one at a time
# permitting it to be iterated over in a for loop or while loop
# examples: list, tuples

In [91]:
lis = [1,8.9,90] # list is iterable obj
for i in lis:
    print(i)

1
8.9
90

In [93]:
# iteration is a process of looping through the elements of an iterable(list,string)
# using a loop
# the process of returning element one by one

In [94]:
# iterator>> an object representing a stream of data >> return the data one 
# by one 

# Analogy
# potato(iterable) >> it cannot be cooked in original form
# chop/wash the potato >> ready for cooking >> iterator
# the process of cooking >> iteration

In [96]:
strg = "string" # string is iterable
for i in strg:
    print(i)

s
t
r
i
n
g

In [101]:
# python >> can i prepare strg for iteration ?
iter(strg) #iterator  object

In [102]:
a = iter(strg)
a

In [103]:
next(a)

's'

In [104]:
next(a)

't'

In [105]:
next(a)

'r'

In [106]:
next(a)

'i'

In [107]:
next(a)

'n'

In [108]:
next(a)

'g'

In [109]:
next(a)

StopIteration:

In [111]:
for i in "MaxPayne": #first converting the iterable string to iterator object
    # (using iter) and then access using next
    print(i)

M
a
x
P
a
y
n
e

In [1]:
l = iter([1,2,3,4])
l

In [2]:
next(l)

1

In [4]:
next(l)

3

In [5]:
next(l)

4

In [7]:
t = iter((5,6,7,8))
t

In [8]:
next(t)

5

In [9]:
next(t)

6

In [10]:
next(t)

7

In [11]:
next(t)

8

In [14]:
st = iter({2,5,6,8})
st

In [15]:
next(st)

8

In [16]:
next(st)

2

In [17]:
next(st)

5

In [18]:
next(st)

6

In [20]:
d = iter({1:True,0:False})
d

In [21]:
next(d)

1

In [22]:
next(d)

0

In [24]:
# generator function

In [1]:
# regular function >> takes a list and gives square of each of the list
def square_num(n):
    result = []
    for i in n:
        result.append(i**2)
    return result
square_num([5,4,6,8])

[25, 16, 36, 64]

In [3]:
# regular function >> takes a list and gives square of each of the list and returns in one go
# since its returning in one go >> memory usage will be more
# it will take a lot of execution time if there is a lot of computation as all 
# the computations will be done first and then the calcualtion will be returned 
# in one go
def square_num(n):
    result = []
    for i in range(n):
        result.append(i**2)
    return result
square_num(100)

[0,
 1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400,
 441,
 484,
 529,
 576,
 625,
 676,
 729,
 784,
 841,
 900,
 961,
 1024,
 1089,
 1156,
 1225,
 1296,
 1369,
 1444,
 1521,
 1600,
 1681,
 1764,
 1849,
 1936,
 2025,
 2116,
 2209,
 2304,
 2401,
 2500,
 2601,
 2704,
 2809,
 2916,
 3025,
 3136,
 3249,
 3364,
 3481,
 3600,
 3721,
 3844,
 3969,
 4096,
 4225,
 4356,
 4489,
 4624,
 4761,
 4900,
 5041,
 5184,
 5329,
 5476,
 5625,
 5776,
 5929,
 6084,
 6241,
 6400,
 6561,
 6724,
 6889,
 7056,
 7225,
 7396,
 7569,
 7744,
 7921,
 8100,
 8281,
 8464,
 8649,
 8836,
 9025,
 9216,
 9409,
 9604,
 9801]

In [4]:
# yield >> general function uses return statement but a generator funciton uses
# yield statement to return values one at a time

In [21]:
def square_num_gen(n):
    for i in range(n):
        yield i**2  # yield creates generator object
square_num_gen(10) # it is a generator object

In [22]:
gen = square_num_gen(10)

In [23]:
next(gen)

0

In [24]:
next(gen)

1

In [29]:
# fibonacci series: sum of last two numbers 0, 1, 1, 2, 3, 5, 8

def fibnac_series(n):
    a = 0
    b = 1
    for i in range(n): # if n = 5 , 0 , 1, 2, 3, 4
        yield a
        a , b = b , a + b

In [31]:
fs = fibnac_series(100000000000000)

In [32]:
next(fs)

0

In [33]:
next(fs)

1

In [34]:
next(fs)

1

In [35]:
next(fs)

2

In [36]:
next(fs)

3

In [37]:
#-----------------------------------------------------------------------

In [40]:
# Lambda fucntion >>  anonymous function
# syntax
# lambda arguments: expression >> no need of return statement

In [41]:
def square(x):
    return x**2
square(2)

4

In [42]:
sq_lambda = lambda x : x**2

In [43]:
add = lambda a, b : a + b

In [44]:
add(4,7)

11

In [45]:
bIsEven = lambda x: x % 2 == 0

In [46]:
bIsEven(8)

True

In [47]:
x = ["Python","Data Science"]
x

['Python', 'Data Science']

In [48]:
sorted(x)

['Data Science', 'Python']

In [49]:
# sort the list based on element of list
le = lambda x : len(x) 
le("Awoll")

5

In [50]:
sorted(x, key = lambda x : len(x))

['Python', 'Data Science']

In [57]:
fib = lambda n: n if n<=1 else fib(n - 1) + fib(n - 2)
[fib(i) for i in range(10)]

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [58]:
# factorial of 5 or 5!

In [62]:
def fact(n):
    if n == 0:
        return 1
    else:
        return n* fact_n(n-1)

In [64]:
fact(5)

120

In [65]:
fact(0)

1

In [68]:
fact = lambda n : 1 if n == 0 else n * fact(n-1)

In [69]:
fact(10)

3628800

In [70]:
# map >> executes a specified function for each item of an iterable
# syntax >> map(func, *iterables)

In [71]:
help(map)

Help on class map in module builtins:

class map(object)
 |  map(func, *iterables) --> map object
 |
 |  Make an iterator that computes the function using arguments from
 |  each of the iterables.  Stops when the shortest iterable is exhausted.
 |
 |  Methods defined here:
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __next__(self, /)
 |      Implement next(self).
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs)
 |      Create and return a new object.  See help(type) for accurate signature.

In [72]:
list1 = [1,2,3,4,5]
def square(l):
    sq = []
    for i in l:
        sq.append(i**2)
    return sq

In [76]:
square(list1)    # WITHOUT MAPPING

[1, 4, 9, 16, 25]

In [80]:
def sq(x): return x**2

In [82]:
list1

[1, 2, 3, 4, 5]

In [85]:
# map(func,iterable)
map(sq,list1)    # so it takes the iterating value as input to the function !

In [86]:
list(map(sq,list1))

[1, 4, 9, 16, 25]

In [92]:
mod = lambda n: n if n > 0 else -n

In [94]:
Num_list = [ -1, -55, -67, -88 , 89, -1000]
map(mod,Num_list)

In [95]:
list(map(mod,Num_list))

[1, 55, 67, 88, 89, 1000]

In [96]:
# lambda arguments: expression

In [3]:
list1 = [1,2,3,4,5]
list(map(lambda x: x**2,list1))

[1, 4, 9, 16, 25]

In [6]:
l = ["1","2","3","4"]
list(map(lambda x: int(x), l))

[1, 2, 3, 4]

In [7]:
l1 = [100,200,300,400]
l2 = [1,2,3,4]
list(map(lambda x,y : x + y, l1,l2))

[101, 202, 303, 404]

In [9]:
s = "lonelyisthenight"
list(map(lambda x : x.upper(),s))

['L',
 'O',
 'N',
 'E',
 'L',
 'Y',
 'I',
 'S',
 'T',
 'H',
 'E',
 'N',
 'I',
 'G',
 'H',
 'T']

In [13]:
grades = ["A","B","C","D"]
list(map(lambda grade : 8 if grade == "A" else(7 if grade == "B" else 5), grades))

[8, 7, 5, 5]

In [26]:
# reduce >> folding/reduction
#syntax >> reduce(func,iterable)
"""
It’s used to apply a given function to the elements of an iterable, 
reducing them to a single cumulative value.
Think of it as a magical spell that combines elements step by step.
# It will always take two arguments only
"""
from functools import reduce

In [27]:
l = [1,2,3,4,5,6]
reduce(lambda x,y : x + y , l)

21

In [32]:
l = [1,2,3,4,5,5,2,65,2]
reduce(lambda x,y,z : x + y + z , l)

TypeError: <lambda>() missing 1 required positional argument: 'z'

In [33]:
l = [1,2,3,4,5,6]
reduce(lambda x,y : x * y , l)

720

In [34]:
l = [1,2,3,4,5,6]
reduce(lambda x,y : x - y , l)

-19

In [35]:
l = [1,2,3,4,5,6]
reduce(lambda x,y : x % y , l)

1

In [36]:
l = [1,2,3,4,5,6]
reduce(lambda x,y : x ** y , l)

1

In [37]:
l = [1,2,3,4,5,6]
reduce(lambda x,y : x // y , l)

0

In [42]:
l1 = ["Data","Science","course"]
reduce(lambda x,y : x + " " + y , l1)

'Data Science course'

In [45]:
num = [1,2,3,4,4,2000,5,6,100]
reduce(lambda x,y : x if x > y else y, num)

2000

In [47]:
def factorial(n):
    return reduce(lambda x , y : x *y ,range ( 1, n+1))

In [48]:
factorial(10)

3628800

In [49]:
# filter function >> used  to filter elements from an iterable based on some condition
# syntax >> filter(function,iterable)
#

In [51]:
l

[1, 2, 3, 4, 5, 6]

In [52]:
list(filter(lambda x : x % 2 == 0 , l))

[2, 4, 6]

In [53]:
list(filter(lambda x : x % 2 != 0 , l))

[1, 3, 5]

In [54]:
"""
filter() is the gatekeeper, allowing only worthy elements to pass.
reduce() is the alchemist, distilling a single value from a sequence.

"""

'\nfilter() is the gatekeeper, allowing only worthy elements to pass.\nreduce() is the alchemist, distilling a single value from a sequence.\n\n'

In [55]:
l = [47,11,42,13]
reduce(lambda x, y: x + y , l)

113